:local {
  .postView {
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: 144px;

    display: grid;
    grid-template:
      "thumb title" 2fr
      "thumb author" 1fr
      "thumb body" 3fr /
      192px 1fr;
    grid-column-gap: 16px;
    align-items: center;
    padding-right: 16px;

    &-thumbnail {
      border-radius: 4px 0 0 4px;
      grid-area: thumb;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-title {
      grid-area: title;
      font-size: 1.4rem;
    }

    &-author {
      grid-area: author;
      color: var(--color-fg-faded);
    }

    &-body {
      grid-area: body;
      color: var(--color-fg-secondary);
    }
  }
}
