:root {
  --masthead-size: 48px;
  --footer-size: 24px;
  --page-width: 800px;
  --page-gutter: 16px;

  --color-fg-primary: rgba(0, 0, 0, 0.9);
  --color-fg-secondary: rgba(0, 0, 0, 0.5);
  --color-fg-faded: rgba(0, 0, 0, 0.2);
}
