:local {
  .viewPostPage {
    padding: 0 var(--page-gutter);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &-header {
      width: 100%;
      max-width: var(--page-width);

      &-title {
        font: 600 24px serif;
      }

      &-author {
        font: 600 1rem sans-serif;
        color: var(--color-fg-faded);
      }

      &-photo {
        width: 100%;
        height: 0;
        padding-top: calc(9 / 16 * 100%);
        background-position: center;
        background-size: cover;
        margin-bottom: 1em;
      }
    }

    &-body {
      width: 100%;
      max-width: var(--page-width);

      &::first-letter {
        text-transform: capitalize;
        float: left;
        line-height: 1;
        font-size: 250%;
      }
    }

    &-comments {
      margin-top: 4ex;
      width: 100%;
      max-width: var(--page-width);
      padding: 0 4rem;
      display: flex;
      flex-flow: column nowrap;

      &-header {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 1em;
      }

      &-comment {
        margin: 1em 0;
      }

      &-form {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        &-label {
          font-size: 0.8em;
          margin-top: 8px;
        }

        &-body {
          min-height: 8em;
        }

        &-submit {
          align-self: flex-start;
          margin-top: 8px;
        }
      }
    }
  }
}
