:local {
  .viewPostPage {
    padding: 0 var(--page-gutter);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &-header {
      width: 100%;
      max-width: var(--page-width);

      &-title {
        font: 600 24px serif;
      }

      &-author {
        font: 600 1rem sans-serif;
        color: var(--color-fg-faded);
      }

      &-photo {
        width: 100%;
        height: 0;
        padding-top: calc(9 / 16 * 100%);
        background-position: center;
        background-size: cover;
        margin-bottom: 1em;
      }
    }

    &-body {
      width: 100%;
      max-width: var(--page-width);

      &::first-letter {
        text-transform: capitalize;
        float: left;
        line-height: 1;
        font-size: 250%;
      }
    }

    &-comments {
      margin-top: 4ex;
      width: 100%;
      max-width: var(--page-width);
    }
  }
}
