:local {
  .masthead {
    background: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 var(--page-gutter);
    height: var(--masthead-size);

    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    &-title {
      flex: 1 0 auto;
      max-width: var(--page-width);
      font: 800 24px serif;
    }
  }
}
