:local {
  .homePage {
    padding: 0 var(--page-gutter);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &-posts {
      width: 100vw;
      max-width: var(--page-width);
      padding: 16px 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      grid-gap: 16px;
    }
  }
}
