@import "~common/styles/variables";

/* Site-wide defaults */

:global {
  * {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    height: 100vh;
    background: #f4f4f4;
    color: var(--color-fg-primary);
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .blog {
    height: 100vh;
    display: grid;
    grid-template:
      "masthead" var(--masthead-size)
      "main" minmax(auto, 1fr)
      "footer" var(--footer-size) /
      1fr;
  }
}

/* Top-level elements */

:local {
  .masthead {
    grid-area: masthead;
  }

  .main {
    grid-area: main;
    margin-bottom: 48px;
  }

  .footer {
    grid-area: footer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 var(--page-gutter);

    &-notice {
      display: block;
      width: 100%;
      max-width: var(--page-width);
    }
  }
}
