:local {
  .commentView {
    display: grid;
    grid-template:
      "name email" auto
      "body body" auto /
      auto 1fr;

    grid-column-gap: 1em;
    align-items: baseline;
    font-size: 0.8rem;

    &-name {
      grid-area: name;
      font-weight: bold;
      color: var(--color-fg-secondary);
    }

    &-body {
      grid-area: body;
    }
  }
}
